<article class="pesquisa-wrapper container">
  <div *ngFor="let iteracao of criarIteracoes(numeroIteracoes)" class="pesquisa-produto bg-tema-escuro-2 mb-40">
    <img src="../../assets/image-secundaria.png" width="145" height="180">
    <div class="pesquisa-produto-descricao">
      <div class="pesquisa-produtos-descricao-nomePreco">
        <p class="font-2-l cor-texto-b-3 mb-8">Iphone 14</p>
        <p class="font-2-xl cor-texto-branco mb-32">R$ 7.200,00</p>
      </div>
      <p class="font-2-xs cor-texto-b-6">Disponível para compra</p>
    </div>
  </div>
</article>
